@use '../abstract' as *;

.metaStyleDash {
    content: "-----";
    margin-right: 7px;
    letter-spacing: -4px;
    transform: scaleY(.8);
    width: 10px;
    overflow: hidden;
    white-space: nowrap;
    //@include transition_default();
}

.blog-post-meta {
    color: $title_color;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    ul li {
        position: relative;
        display: inline-block;
        line-height: 1.5;
        margin-right: 15px;

        .bypostauthor {
            margin-right: 4px;
        }

        &.edit-link {
            opacity: 0;
            visibility: hidden;
        }

        i {
            margin-right: 6px;
            font-size: .9em;
            transform: translateY(1px);
        }

        &.author img {
            margin-right: 6px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            display: inline;
            margin-bottom: -7px;
        }

    }

    article:hover & ul li.edit-link {
        opacity: 1;
        visibility: visible;
    }

    ul li a {
        color: $meta_color;
        padding-bottom: 0;

        &:hover {
            color: $primary_color
        }
    }

    ul li.author a {
        color: $primary_color;

        &:hover {
            color: $primary_dark;
        }
    }

    //Default meta style
    .meta-style-default & {
        ul li {
            &.category,
            &.tag {
                display: inline;
            }
        }
    }

    .meta-style-border & {
        ul {
            gap: 5px;
        }

        ul li:not(.category, .tag) {
            border: 1px solid $border_color;
            border-radius: 6px;
            min-height: 32px;
            padding: 0 12px;
            color: $primary_color;

            a {
                color: $primary_color;

                &:hover {
                    color: $primary_color;
                }
            }
        }

        ul li:is(.category, .tag) {
            padding: 0;

            .tag-links,
            .category-links {
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
            }

            .sp {
                display: none;
            }

            a {
                border: 1px solid $border_color;
                border-radius: 6px;
                font-size: 14px;
                font-weight: 500;
                padding: 4px 12px;
                color: $primary_color;

                &:hover {
                    background-color: $primary_color;
                    color: $white_color;
                }
            }
        }
    }

    .meta-style-pipe & {
        li:not(:last-child)::after {
            content: " | ";
            transform: scaleY(.9);
            margin: 0 1px 0 10px;
        }
    }

    //Dashed meta style
    .meta-style-dash & li::before {
        @extend .metaStyleDash;
    }

    //Dash and BG Style
    .meta-style-dash-bg & {
        ul {
            gap: 6px;
        }

        li {
            padding: 0;
        }

        li::before {
            @extend .metaStyleDash;
        }

        .tag-links,
        .category-links {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
        }

        li:not(.category, .tag) {
            background: $gray10;
            border-radius: 6px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 4px 12px;
            margin: 0;
            @include transition_default();
            color: $primary_color;

            &:before {
                color: $primary_color;
            }

            a {
                color: $primary_color;
            }

            a:hover {
                color: $title_color;
            }
        }

        li:is(.category, .tag) {
            .sp {
                display: none;
            }

            a {
                display: inline-block;
                height: 100%;
                padding: 7px 12px;
                line-height: 1;
                position: relative;
                background-color: $gray10;
                border-radius: 6px;
                color: $primary_color;

                &:hover {
                    background-color: $primary_color;
                    color: $white_color;
                }

                &::before {
                    @extend .metaStyleDash;
                    //content: "---";
                    //letter-spacing: -3.8px;
                    //transform: scaleY(-8);
                    //margin-right: 7px;
                }
            }

            &::before {
                content: none;
            }
        }


    }
}

.widget .blog-post-meta {
    margin-bottom: 6px;
}
