@use '../abstract' as *;
.pagination-list {
	list-style: none;
	margin: 50px 0 0;
	padding: 0;
	display: flex;
	gap: 5px;

	li {
		i {
			font-size: 24px;
		}

		&.active {
			a {
				background-color: $primary_color;
				color: $white_color;
			}
		}
	}
	a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 50px;
		width: 50px;
		font-size: 22px;
		font-weight: normal;
		color: $title_color;
		background-color: $gray10;
		border-radius: 50%;
		&:hover {
			background-color: $primary_color;
			color: $white_color;
		}
	}
}
.pagination-area-2 {
	.pagination-list {
		li {
			a {
				border-radius: 6px;
			}
		}
	}
}
