@use '../abstract' as *;
//Post Thumbnail
.post-thumbnail-wrap {
    position: relative;

    .blog-grid & {
        margin-bottom: 20px;
    }

    img {
        transition: 0.4s;
        object-fit: cover;
    }

    &.post-single .video-wrapper {

        padding-top: 68%;

        video,
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }


    }

    .slick-slide img {
        width: 100%;
        height: auto;
    }

    .post-thumbnail {
        overflow: hidden;

        &, img {
            border-radius: 5px;
        }
    }

    &.post-grid .post-thumbnail {
        aspect-ratio: 10 / 6;
    }

    &.post-grid.thumbnail-gallery {
        .rawadd-carousel {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .slick-list,
        .slick-track {
            height: 100%;
        }

        .slick-list .post-thumb-link,
        .slick-list img {
            position: static !important;
        }
    }

    .post-thumbnail {
        position: relative;
        margin-bottom: 0;
        display: flex;

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .1);
            z-index: 2;
            transition: .4s;
        }

        &:after {
            opacity: 0;
        }

        &:before {
            opacity: 1;
        }

        .post-thumb-link {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        video,
        audio,
        iframe {
            width: 100%;
            height: 100%;
        }

        .rawadd-popup-video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s;
            background: rgb(0 0 0 / 35%);
            z-index: 9;
            background: rgba(0, 0, 0, .6);
            color: $white_color;

            &:hover {
                color: $white_color;
                background: $primary_color;
            }

            i {
                margin-left: 4px;
                color: currentColor;
            }
        }

        audio {
            background: #f1f3f4;
        }
    }

    &.post-grid .post-thumbnail img,
    .post-thumbnail video,
    .post-thumbnail audio,
    .post-thumbnail iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}


.article-inner-wrapper:hover .post-thumbnail::before {
    opacity: 0;
    transition-duration: 1s;
}

.article-inner-wrapper:hover .post-thumbnail::after {
    opacity: 1;
}

//Thumbnail Fixed Height
.image-100vh .post-thumbnail {
    height: 100vh !important;
}

.admin-bar .image-100vh .post-thumbnail {
    height: calc(100vh - 32px) !important;
}

.image-400 .post-thumbnail {
    height: 400px !important;
}

.image-450 .post-thumbnail {
    height: 450px !important;
}

.image-500 .post-thumbnail {
    height: 500px !important;
}

.image-550 .post-thumbnail {
    height: 550px !important;
}

.image-600 .post-thumbnail {
    height: 600px !important;
}

.image-700 .post-thumbnail {
    height: 700px !important;
}

.center-center .blog-post-image {
    object-position: center center;
}

.center-top .blog-post-image {
    object-position: center top;
}

.center-bottom .blog-post-image {
    object-position: center bottom;
}

.center-15 .blog-post-image {
    object-position: center 15%;
}

.center-25 .blog-post-image {
    object-position: center 25%;
}

.center-35 .blog-post-image {
    object-position: center 35%;
}
