@use '../abstract' as *;
.radius-docs-breadcrumb-wrapper {
	display: flex;
	align-items: center;
	padding: 40px 0;
	flex-direction: row;
	position: relative;
	color: $body_color;
	background: $gray10;

	&.banner-dark {
		color: $white_color;
		background: $title_color;
	}

	&.banner-light {
		color: $body_color;
		background: $white_color;
	}

	&.banner-primary {
		background: $primary_color;
		color: #FFFFFF;
		&,
		.radius-docs-breadcrumb {
			opacity: .9;
			a:hover {
				opacity: .8;
			}
		}
	}

	.container {
		position: relative;
		z-index: 5;
	}

	&.has-bg {
		position: relative;
		z-index: 0;
		border-bottom: none;
		color: $white_color;

		.radius-docs-breadcrumb {
			color: inherit;
		}
	}

	&.has-bg .banner-image::before,
	.banner-image {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&.has-bg .banner-image::before {
		background: rgba(0, 0, 0, .3);
	}

	.radius-docs-breadcrumb {
		display: flex;
		padding: 0;
		background-color: transparent;
		border-radius: 0;
		margin: 0;
		position: relative;
		color: $body_color;

		ul {
			color: currentColor;
			display: flex;
			font-size: calc($base_fs - 1px);
			column-gap: 10px;
			align-items: center;
			margin: 0;
			padding: 0;
			list-style: none;
		}

		ul li {
			display: flex;
			align-items: center;
			column-gap: 10px;
			color: currentColor;
			&:last-child {
				font-weight: 500;
			}
		}

		a {
			color: currentColor;
			&:hover {
				color: $primary_light;
			}
		}

		i {
			color: currentColor;
			font-size: 66%;
		}
	}

	.bread-title {
		font-size: clamp(26px, 4vw, 32px);
		line-height: 1.2;
		margin-top: 0;
		margin-bottom: 10px;
		color: currentColor;
	}
}

.has-trheader .radius-docs-breadcrumb-wrapper {
	opacity: 0;
}

.has-trheader {
	.radius-docs-breadcrumb-wrapper {
		padding-top: 160px;
	}
}
