@use '../abstract' as *;

//Main Navigation
@forward "header/_navigation";

//Mega-menu CSS
@forward "header/_header-megamenu";

//Header search
@forward "header/_header-search";

// Off canvas drawer
@forward "header/_header-offcanvas";

//Topbar Navigation
@forward "header/_header-topbar";

@forward "header/_header-icons";
@forward "header/_hamburg-menu";
// Header Style



$dropdown_top_bottom_margin: 10px;

@media (min-width: 1025px) {
	.site-mobile-logo,
	.light-logo,
	.mobile-hamburg {
		display: none;
	}
}

.site-header .container-fluid {
	padding-left: 30px;
	padding-right: 30px;
}

@media(min-width: 1440px) {
	.site-header .container-fluid {
		padding-left: 70px;
		padding-right: 70px;
	}
}


@media (max-width: 1024px) {
	.has-mobile-logo .site-logo,
	.desktop-hamburg {
		display: none;
	}
}

.main-header-section {
	border-bottom: 1px solid rgba($white_color, 0.15);

	.has-trheader & {
		border-bottom-color: rgba($white_color, 0.1);
	}
}

.has-banner .main-header-section {
	border-bottom: none;
}

.site-branding {
	display: flex;
	align-items: center;
	font-size: 40px;
	font-weight: bold;

	img {
		max-height: 55px;
		width: auto;

		@media (max-width: 600px) {
			max-height: 48px;
		}
	}

	a {
		display: flex;
		color: $secondary_color;
		padding: 10px 0;
		font-weight: bold;
		transition: color 0.4s;
	}
}

.site-header {
	position: relative;
	z-index: 9999;
	background: $primary_color;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
}

// Header Search Popup
#radius-docs-header-search {
	position: fixed;
	top: -350px;
	left: 0;
	width: 100%;
	height: 350px;
	transform: translateY(-50%);
	z-index: 9999;
	transition: all ease-out .6s;
	background: $primary_color;
	box-shadow: 0 4px 30px var(--radius-docs-tr-1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;

	.close {
		position: absolute;
		top: 50px;
		right: 20px;
		width: 40px;
		height: 40px;
		margin: 0 auto;
		opacity: 0;
		visibility: visible;
		padding: 0;
		font-size: 22px;
		cursor: pointer;
		color: $button_color;
		background: $primary_color;
		border-radius: 50%;
		z-index: 1;

		> span {
			margin-top: -5px;
		}

		&:hover {
			background: rgba($primary_rgb, 0.8);
		}
	}

	.header-search-form {
		text-align: center;
		max-width: 1000px;
		width: 96%;
		position: relative;
		transition: all 0.6s ease-in-out 0.4s;
		margin: 50px auto 0;
		opacity: 0;

		input[type=search] {
			width: 100%;
			height: 60px;
			color: $white_color;
			font-size: $base_fs;
			text-align: left;
			border: none;
			border-radius: 0;
			margin: 0 auto;
			padding: 15px 35px 15px 0;
			outline: none;
			background: transparent;
			border-bottom: 1px solid $border_color;
			line-height: 28px;
			position: relative;

			&:focus {
				box-shadow: none;
			}

			&::placeholder {
				color: #FFF;
				opacity: 1; /* Firefox */
			}

			&::-ms-input-placeholder { /* Edge 12 -18 */
				color: #FFF;
			}
		}

		.search-btn {
			padding: 0;
			box-shadow: none;
			border: none;
			border-radius: 0;
			cursor: pointer;
			font-weight: 500;
			margin-top: 0;
			margin-left: -24px;
			background: transparent;
			line-height: 29px;
			transition: all 0s ease-in-out;
			color: $white_color;
			position: absolute;
			top: 60%;
			right: 0;
			transform: translateY(-50%);

			[class*=raw-icon] {
				font-size: 20px;
			}

			&:hover {
				color: $primary_color;
			}
		}
	}

	&.open {
		top: 0;
		opacity: 1;
		visibility: visible;
		transform: translateY(0);

		.header-search-form {
			margin: 0 auto 0;
			opacity: 1;
		}

		.header-search-wrap {
			top: 0;
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
		}

		.close {
			opacity: 1;
			visibility: visible;
			background: rgb(0 0 0 / 25%);
		}
	}
}

// Header layout style
.radius-docs-header-2,
.radius-docs-header-3,
.radius-docs-header-4 {
	.main-header-section .radius-docs-navigation {
		justify-content: center;
	}

	&.has-trheader .menu-icon-wrapper li a:hover [class*=raw-icon] {
		color: $white_color !important;
	}

	.menu-icon-wrapper {
		li {
			padding-right: 0 !important;

			&::before, &::after {
				content: none !important;
			}

			[class*=raw-icon] {
				height: 34px;
				width: 34px;
				border-radius: 5px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 16px;
				background: $white_color;
				color: $primary_color;
				border: 1px solid $primary_color;

				i {
					font-size: 15px;
					color: currentColor;
				}
			}

			a:hover [class*=raw-icon] {
				background: $primary_color;
				color: $white_color;
			}
		}

		li.radius-docs-button .btn {
			color: $white_color !important;
			background-color: $primary_color;
			border-color: $primary_color;
			border-radius: 5px !important;
			position: relative;

			&:hover {
				background-color: $primary_dark;
				border-color: $primary_dark;
			}
		}
	}
}

.radius-docs-header-4,
.radius-docs-header-3 {
	.menu-icon-wrapper {
		li {
			[class*=raw-icon] {
				border-radius: 50% !important;
			}
		}

		li.radius-docs-button .btn {
			border-radius: 30px !important;
		}
	}
}

.radius-docs-header-4 {
	.menu-icon-wrapper {
		li [class*=raw-icon] {
			font-size: 16px;
		}

		li [class*=raw-icon],
		.btn {
			color: $white_color;
			background: $secondary_color linear-gradient(180deg, $primary_light 0%, $primary_color 100%);

			&:hover {
				background: $secondary_color !important;
				border-color: $secondary_color;
			}
		}
	}
}

.radius-docs-header-5 {
	.radius-docs-navigation {
		justify-content: right;
	}

	.menu-icon-wrapper {
		li.radius-docs-button .btn {
			height: 36px;
			background-color: $primary_color;
			box-shadow: -5px 5px 0 0 $secondary_color;
			border: none;
			color: $white_color;

			&:hover {
				box-shadow: 5px -5px 0 0 $secondary_color;
			}
		}
	}
}
